!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello, #{@user["name"]}
    %p
      You have successfully subscribed on category: #{@category["title"]}.
        
    %p Thanks for subscribed and have a great day!
