%h2= t('comments.title')
- @image.comments.each do |comment|
  %div
    %p
      %strong Title:
      = comment.title
    %p
      %strong Comment:
      = comment.body
    %p
      %strong Comment:
      = comment.created_at.strftime('%m-%d  / %I:%M').to_s
    -# %p
    -# = link_to 'Delete', [comment.image, comment], |
    -#   method: :delete,                                       |
    -#   data: { confirm: 'Are you sure?' }                     |

