%h1= t('comments.title')
.all-comments
  - @comments.each do |comment|
    .comment
      .title
        -# %strong Title:
        = comment.title
      .date
        -# %strong Date:
        = comment.created_at
      .comment-body
        -# %strong Comment:
        = comment.body

      -# %p
      -# = link_to 'Delete', [comment.image, comment], |
      -#   method: :delete,                                       |
      -#   data: { confirm: 'Are you sure?' }                     |