.panel_contents
  %form#q_search.filter_form{"accept-charset" => "UTF-8", :action => "/admin/user_actions", :method => "get"}
    .filter_form_field.filter_string
      %label.label{:for => "q_action"} Search Email:
      %input#q_action{:name => "q[action_contains]", :type => "text"}/
      %input#q_submit{:name => "commit", :type => "submit", :value => "Search_action"}/
