- if user_signed_in?
  - if !pre_sub
    = link_to category_subscribers_path(category), method: :post, remote: true, class:"subscribe" do
      %span.glyphicon.glyphicon-star-empty
  - else
    = link_to category_subscriber_path(category, 
    pre_sub), method: :delete, remote: true, class:"desubscribe" do
      %span.glyphicon.glyphicon-star
