%h1 Posts
.all-posts
  - @posts.each do |post|
    %div
      = link_to image_tag(@images[post].image.medium_thumb.url, alt: 'Image'), category_post_path(@category, post)

      %p= link_to 'View', category_post_path(@category, post)
      %p= link_to 'Destroy Image', [post.category, post], |
          method: :delete,                               |
          data: { confirm: 'Are you sure?' }             |
        
%p= link_to 'New post', new_category_post_path()
