/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub 'active_admin'
 */
@import "bootstrap-sprockets";
@import "bootstrap";


nav.pagination span 
  a
    background: white
    margin: 0 10px
    padding: 5px 10px
    text-decoration: none
    line-height: 40px
  a:hover, a:link, a
    text-decoration: none
    color: black
nav.pagination span
  margin: 20px 0

nav.pagination .current 
  background: #e6bf54
  padding: 5px 10px

input[type="submit"]
  border-radius: 0
  background: #6f6f6f
  margin: 20px 0
  padding: 10px 30px
  color: white

.vizibility
  display: block

h1, h2, h3, h4, h5
  word-break: break-all;

.user-menu
    width: 40px
    height: 40px
    margin: -10px
    position: relative
    border-radius: 100%
    border: 2px solid rgba(136, 136, 136, 0.8)
    overflow: hidden

.user-menu
  img 
    vertical-align: middle
    height: 100%
    min-width: 100%
    left: 50%
    position: relative
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)

.navbar-default
  z-index: 1

nav.navbar.navbar-default
  margin: 0
/*/////////////////////////////////////////*/

body 
  margin: 0
  background: #d5b45b

header 
  background: white
  text-align: center

header a 
  text-decoration: none
  outline: none
  display: block
  transition: .3s ease-in-out

ul.topmenu li
    list-style: none

ul.topmenu li a
  color: #fff

ul.topmenu li a:hover
  text-decoration: none

ul.topmenu 
  display: flex
  background: black
  margin: 0

nav 
  display: table
  margin: 0 auto

nav ul 
  list-style: none
  margin: 0
  padding: 0

.topmenu:after 
  content: ""
  display: table
  clear: both

.topmenu > li 
  width: 18%
  float: left
  padding: 15px 0
  position: relative
  font-family: 'Open Sans', sans-serif

.topmenu > li > a 
  text-transform: uppercase
  font-size: 1.2vw
  font-weight: bold
  color: #404040
  padding: 15px 30px

.topmenu li a:hover 
  color: #D5B45B
.submenu-link:after 
  content: "\f107"
  font-family: "FontAwesome"
  color: inherit
  margin-left: 10px

.submenu 
  background: #273037
  position: absolute
  right: -10px
  top: 50px
  z-index: 5
  padding: 10px
  opacity: 0
  transform: scaleY(0)
  transform-origin: 0 0
  transition: .5s ease-in-out

.submenu a 
  color: white
  text-align: left
  padding: 12px 15px
  font-size: 20px
  border-bottom: 1px solid rgba(255,255,255,.1)

.submenu li:last-child a  
  border-bottom: none
.topmenu > li:hover .submenu 
  opacity: 1
  transform: scaleY(1)
.down:after 
  content: "\f107"
  margin-left: 8px
  font-family: FontAwesome

@media screen and (max-width:1124px)
  .submenu 
    right: -10px
    top: 50px
@media screen and (max-width:980px)
  .header_hidden
    display: block
    position: fixed
    z-index: 5
    right: 15px
    top: 15px
    width: 35px
    cursor: pointer
  ul.submenu li a
    font-size: 20px
  ul.topmenu li a 
    font-size: 20px
    font-weight: 600
  .hiden_active
    transition: transform 1s
    transform: rotate(135deg)
    margin: -2px auto

  .hiden_active.hiden_active:before
    transition: transform 1s
    transform: rotate(90deg)
    margin: 20px 0px -10px 0px

  .hiden_active.hiden_active:after
    height: 0

  .topmenu > li
    padding: 0

  .topmenu li 
    font-size: 20px

  .header_hidden span
    display: block
    width: 100%
    height: 4px
    background: #8b8888
    margin: 7px auto

  .header_hidden::after, .header_hidden::before
    content: ""
    display: block
    height: 4px
    background: #8b8888

  .down.down:after:after
    display:none
    visible:none

  ul.submenu
    display: contents

  .submenu a
    padding: 0

  ul.topmenu
    display: none

  .visible.visible
    display: flex
    flex-flow: column
    position: fixed
    z-index: 1
    width: 200px
    height: 100%
    padding: 30px

  .visible.visible > li > a
    padding: 0

  .visible.visible > li
    width: 100%



.footer
    background: black
    margin: 0
    padding: 22px
    color: white

.form-control:focus
  border-color: #000
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #808080


