// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="submit"] {
  outline: none;
}

.comment {
  background: #adadad;
  border-radius: 15px;
  margin: 15px 0;
}

.comment-head {
  padding: 15px 30px;
}

.comment-body {
  padding: 10px 20px;
  background: silver;
}

span.time {
  float: right;
}