// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="submit"] {
  outline: none;
}

.all-comments {
  color: azure;
}
.comment {
  background: #000000;
  border-radius: 15px;
  margin: 15px 0;
  color: white;
  border: white solid 1px;
}

.comment-head {
  padding: 15px 30px;
}

.comment-body {
  padding: 10px 20px;
  background: #403b3b;
  border-radius: 0 0 15px 15px;
}

span.time {
  float: right;
}

.comments-index {
  h1 {
    color: #fff;
  }
  nav.pagination span a:hover, nav.pagination span a:link, nav.pagination span a {
    color: #fff;
  }
  nav.pagination .current {
    background: #ffffff;
    border: 1px solid;
  }
  nav.pagination span a {
    background: #080808;
      border: 1px solid #fff;
  }
}