// Place all the styles related to the fans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.like:link:hover, a.dislike:link:hover {
  text-decoration: none;
}

a.like:link:focus, a.dislike:link:focus {
  text-decoration: none;
}

a.like:link, a.dislike:link {
  text-decoration: none;
  font-size: 20px;
}
.like {
  float: right;
}
.like.like {
  color: #ff0014;
}

.dislike.dislike {
  color: #bb3e7b;
}

a.like:hover {
  color: #ff0014;  
}

a.dislike:hover {
  color: #ff0014;
}
a.dislike:focus {
  color: #bb3e7b;
  outline: none;
}

a.like:focus{
  color: #ff0014;
  outline: none;
}