@font-face {
  font-family: Ewert;
  src: url('/assets/ewert.ttf') format('truetype');
}

@font-face {
  font-family: DiplomataSC;
  src: url('/assets/diplomataSC.ttf') format('truetype');
}

@font-face {
  font-family: Geostar;
  src: url('/assets/Geostar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Lobster;
  src: url('/assets/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Teko-Bold;
  src: url('/assets/Teko/Teko-Bold.ttf') format('truetype');
}

@font-face {
  font-family: VastShadow;
  src: url('/assets/VastShadow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: LeagueScript-Regular;
  src: url('/assets/LeagueScript-Regular.ttf') format('truetype');
}
