// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-images {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: center;
}
.image-index h1 {
  font-family: Lobster;
  color: #fff;
}
.image {
  width: fit-content;
  margin: 20px 0;
  height: fit-content;
  position: relative;
}
.image-index h1 {
  text-align: center;
}

.image-info {
  a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: #fff;
  }
}

.image-index {
  nav.pagination span a:hover, nav.pagination span a:link, nav.pagination span a {
    color: #fff;
  }
  nav.pagination .current {
    background: #ffffff;
    border: 1px solid;
  }
  nav.pagination span a {
    background: #080808;
      border: 1px solid #fff;
  }
}

.image-info {
  background: #000;
  margin: 10px 0;
  border-radius: 15px;
  padding: 0 20px;
  border: 1px solid #fff;
}
.image-info .image {
  height: 200px;
  width: 400px;
  overflow: hidden;
  border: 1px solid #fff;
  min-width: 100%;
}
@media screen and (max-width:968px){
  .all-images {
    justify-content: center;
  }
}