// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-images {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  text-align: center;
}