// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-images {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: center;
}

img.img-fluid.img-thumbnail {
  position: relative;
  z-index: -2;
}
.image {
  padding: 5px;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.9);
  width: fit-content;
  margin: 20px 0;
}

.image:hover {
  transition: box-shadow 0.5s;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}
