// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-posts {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: center;

}
.post {
  margin: 20px 0;
}
.addImage-button {
  background: #e2e0e0;
  display: block;
  padding: 10px 30px;
  box-shadow: inset 0px 0px 15px 0px;
  position: relative;
  width: fit-content;
  left: 100%;
  transform: translateX(-100%);
}